<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		input {
			width: 500px;
			height: 500px;
		}
	</style>
</head>
<body>
	<input type="text" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum voluptate, neque eius recusandae autem molestiae! Iste nobis ut optio necessitatibus eligendi, recusandae et mollitia eaque deserunt repellat quam laborum quas.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoLorem ipsum dolor sit amet, consectetur adipisicing elit. Illum voluptate, neque eius recusandae autem molestiae! Iste nobis ut optio necessitatibus eligendi, recusandae et mollitia eaque deserunt repellat quam laborum quas.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo">
</body>
</html>