<div class="ct-header">
	<p>ẨM THỰC</p>
</div>
<div class="at-menu clearfix">
	<ul id="at-menu">
		<li><p>ĐẶC SẢN</p</li>
		<li><p>HẢI SẢN</p</li>
		<li><p>NUỚNG</p</li>
		<li><p>LẨU</p</li>
	</ul>
</div>
<div class="at-img">
	<ul id="at-img">
		<li><img src="images/food/BANH.jpg" alt=""></li>
		<li><img src="images/food/BANHCONG.jpg" alt=""></li>
		<li><img src="images/food/banhtet.jpg" alt=""></li>
		<li><img src="images/food/BANHXEO.jpg" alt=""></li>
		<li><img src="images/food/BOKHO.jpg" alt=""></li>
		<li><img src="images/food/GOI.jpg" alt=""></li>
		<li><img src="images/food/LAU.jpg" alt=""></li>
	</ul>
</div>