<div class="ct-header">
					<p>ĐỊA ĐIỂM THAM QUAN</p>
				</div>
				<div class="tq-menu clearfix" >
					<ul id="tq-menu">
						<!-- <li><a href="">BẾN NINH KIỀU</a></li>
						<li><a href="">VƯỜN TRÁI CÂY</a></li>
						<li><a href="">CHỢ NỔI CÁI RĂNG</a></li>
						<li><a href="">VƯỜN CÒ</a></li>
						<li><a href="">THIỀN VIỆN TRÚC LÂM</a></li>
						<li><a href="">CHÙA ÔNG</a></li> -->
						<li class="active" data-tab=".tabct1">BẾN NINH KIỀU</li>
						<li data-tab=".tabct2">VƯỜN TRÁI CÂY</li>
						<li data-tab=".tabct3">CHỢ NỔI CÁI RĂNG</li>
						<li data-tab=".tabct4">VƯỜN CÒ</li>
						<li data-tab=".tabct5">THIỀN VIỆN TRÚC LÂM</li>
						<li data-tab=".tabct6">CHÙA ÔNG</li>
					</ul>
				</div>
				<div class="tabs">	
					<div id="" class="tab tabct1">
						<div class="text-center">
							<p class="p2">Bến Ninh Kiều thu hút khách du lịch với phong cảnh sông nước hữu tình, thơ mộng và tầm nhìn hướng ra sông Hậu Giang hiền hòa. Nằm bên hữu ngạn sông Hậu gần ngay ngã ba sông Hậu và 
							sông Cần Thơ, bến Ninh Kiều nổi tiếng không chỉ là nơi dạo chơi hóng gió thư giãn mà cón là nơi để các bạn trẻ tụ tập gặp gỡ bên các nhà hàng ăn uống cùng nhau. Đến với Bến Ninh Kiều, 
							du khách sẽ được ngồi trên những nhà hàng nổi, ngắm cảnh sông nước Hậu Giang và thưởng thức những món ăn đặc sản hấp dẫn.</p>
						</div>
						<div class="tq-img">
							<img src="images/thamquan/BEN-NINH-KIEU.jpg">
						</div>
					</div>
					<div id="" class="tab tabct2">
						<div class="text-center">
							<p class="p2">Nổi tiếng là vùng đất sông nước có đất đai màu mỡ cùng khí hậu ấm áp quanh năm nên Cần Thơ trồng được rất nhiều loại cây ăn quả thơm ngon như: vú sữa, nhãn, sầu riêng, râu Hạ Châu, măng cụt, táo, chôm chôm…Du khách tới Cần Thơ vào bất kì thời điểm nào cũng sẽ có cơ hội tham quan, thường thức hoa quả tại các khu vườn trái cây của Cần Thơ bởi sự đa dạng về mùa của các loại hoa quả.  Một số nhà vườn mà du khách không nên bỏ qua là Mỹ Thơm, Mỹ Khánh, Mỹ Thuận, Vũ Bình, Cồn Ấu, Xám Vàng….</p>
						</div>
						<div class="tq-img">
							<img src="images/thamquan/CHO-NOI.jpg">
						</div>
					</div>
					<div id="" class="tab tabct3">
						<div class="text-center">
							<p class="p2">Chợ nổi Cái Răng có lẽ là điểm rất quen thuộc của du lịch Cần Thơ. Chắc chắn ai ai đi du lịch Cần Thơ cũng sẽ phải đến thăm quan chợ nổi Cái Răng. Vào mỗi buổi sáng, tại chợ nổi Cái Răng có hàng trăm chiếc thuyền lớn nhỏ đậu san sát nhau. Bên trên thuyền là đầy những sản vật như hoa quả, đồ gia dụng, đặc sản…Chắc chắn đến chợ nổi Cái Răng vào buổi sáng và tham gia phiên chợ lênh đênh trên sông sẽ mang lại một trải nghiệm khó quên cho du khách.</p>
						</div>
						<div class="tq-img">
							<img src="images/thamquan/chonoi2.jpg">
						</div>
					</div>
					<div id="" class="tab tabct4">
						<div class="text-center">
							<p class="p2">Cách trung tâm thành phố Cần Thơ khoảng 50km là Vườn Cò Bằng Lăng – một trong những nơi tập trung chim lớn nhất của miền quê sông nước. Vườn cò thuộc ấp Thới Bình, xã Thới Thuận, huyện Thốt Nốt của thành phố Cần thơ. Được hình thành vào năm 1983 đây là nơi tập trung, sinh sống của hàng ngàn con cò đủ chủng loaij. Khi đến đây du khách sẽ phải ngỡ ngàng trước hình ảnh của nhiều đàn cò đang bay lượn trên bầu trời, và đứng đậu trên những cánh cây. Nhìn ngắm đàn cò bay lượn cho ta cảm giác thư thái như đang hòa cùng với thiên nhiên.</p>
						</div>
						<div class="tq-img">
							<img src="images/thamquan/vuonco.jpg">
						</div>
					</div>
					<div id="" class="tab tabct5">
						<div class="text-center">
							<p class="p2">Nằm trong khu di tích lịch sử Lộ Vòng Cung, cách trung tâm thành phố Cần Thơ 15km, Thiền viện trúc lâm Phương Nam tọa lạc trên mảnh đất có diện tích gần 4ha tại xã Mỹ Khánh, huyên Phong Điền. Thiền viện được xây dựng theo kiến trúc thời Lý mang nét đẹp thanh bình, yên ả. Đến với thiền việc trúc lâm Phương Nam thăm quan cảnh đẹp và cầu bình an sẽ là một trải nghiệm đáng nhớ trong chuyến du lịch về miền sông nước của bạn.</p>
						</div>
						<div class="tq-img">
							<img src="images/thamquan/thienvien.jpg">
						</div>
					</div>
					<div id="" class="tab tabct6">
						<div class="text-center">
							<p class="p2">Nằm ngay gần bến Ninh Kiều thơ mông, chùa Ông cũng là một điểm thăm quan được nhiều du khách tới thăm. Ngôi chùa được xây dựng năm 1894 – 1896 trên một khu đất có diện tích khá rộng chừng hơn 500m2. Chùa Ông có lối kiến trúc độc đáo và hiện nay gần như vẫn giữ được vẻ đẹp vẹn nguyên ban đầu. Bên trong chùa treo rất nhiều vòng hương lớn và được người dân đến thành kính hương khói quanh năm. Là ngôi chùa cổ đại với lối kiến trúc độc đáo, Chùa Ông đã được công nhận di tích lịch sử cấp quốc gia vào năm 1993.</p>
						</div>
						<div class="tq-img">
							<img src="images/thamquan/chuaong3.jpg">
						</div>
					</div>
				</div>