body{
	text-align: justify;
}


.wrapper-tour-thamquan{
	font-family:  'Comfortaa-Regular', cursive;

}

.header-thamquan{
	height: 60px;
	width: 100%;
}
.hd-inner-thamquan {
	    
	    background: rgba(0, 0, 0, 0.76);
	    color: #f1f1f1;
	    width: 100%;
	    height: 60px;
	    position: absolute;
	}

	.hd-inner-thamquan2 {
	    display: none;
	    position: fixed;
	    background: rgba(0, 0, 0, 0.76);
	    color: #f1f1f1;
	    width: 100%;
	    z-index: 999;

	}


	.content-thamquan{
		min-height: 1000px;
	}
	.img1366x380{
		width: 100%;
		height: auto;
	}

	.img1366x380 img{
		width: 100%;
		height: auto;

		margin-bottom: 100px;
	}
	.img1366x380 p{
		font-family: 'ArimaMadurai-Medium','Lato';
		font-size: 60px;
		position: absolute;
		margin-top: 130px;
		margin-left: 491px;
		color: white;
	}

	.thamquan-gioithieu{
		width: 730px;
		margin: 0px auto;
		height: auto;
	}

	.thamquan-tittle h1{
		text-align: center;
		font-family: 'ArimaMadurai-Medium','Lato';
		font-size: 40px;
		padding: 15px 0px;
		font-weight: normal;

	}

	.thamquan-gioithieu p{
		text-align: center;
	}

	.thamquan{
		margin-top: 15px;
	}
	.thamquan p{
		text-align: center;
		width: 800px;
		height: auto;
		margin: 0px auto 30px auto;
	}
	img#img1366x160{
		width: 100%;
		height: auto;
	}
	.thamquan-img{
		width: 1340px;
		height: auto;
		margin: 25px auto;
	}

	.thamquan-tittle2 h1{
		text-align: center;
		font-family: 'ArimaMadurai-Medium','Lato';
		font-size: 40px;
		padding: 15px 0px;
		font-weight: normal;
		position: absolute;	
		color: white;
		padding: 64px 0px 0px 487px;
		font-weight: bold;
	}

	img#img600x391{
		width: 600px;
		height: auto;
	}
	img#img710x391{
		width: 710px;
		margin-left: 8px;
		height: auto;
	}
	img#img600x253{
		width: 600px;
		margin: 10px 354px;
		height: auto;
	}



	/*nay*/

	.thamquan-nay{
		margin-top: 50px;
		margin-bottom: 300px;
	}
	
	.thamquan-icon{

		text-align: center;
	}
	.thamquan-icon img {
		width: 130px;
		height: auto;
	}
	
	.img1366x600{
		width: 100%;
		height: auto;
		margin-bottom: 20px;
	}
	.img1366x600 img{
		width: 100%;
		height: auto;
	}
	img#img668x{
		width: 667px;
		height: auto;
	}
	
	.icon2 img{
		width: 30px;
		height: auto;
		margin: 30px auto;
		margin: 25px auto 7px auto;
	}

	.thamquan-dexuat{
		width: 1100px;
		height: 265px;
		margin: 50px auto;
		background-color: white;
	}

	.thamquan-sidebar{
		float: left;
		width: 316px;
		height: 240px;
		margin: 30px 25px;
		text-align: center;
	}

	img#thamquan-sidebar{
		width: 316px;
		height: 190px;
		margin-bottom: 10px;
	}
	img#thamquan-sidebar:hover{
		cursor: pointer;
		transition: 0.3s;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(39, 39, 39, 0.81);
	}
	a#thamquan-sidebar{
		font-family: Segoeui;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		color: #2e2e2e;
	}