.dt-tittle{
	text-align: center;
	padding: 45px 102px;
	font-size: 21px;
	text-transform: uppercase;
	font-family: Soeuib;
	color: #ff0606;
	font-weight: bold;
}
.dt-table table{
	border-collapse: collapse;
	margin: 0px auto;
	width: 90%;
	text-align: center;
	background-color: #f2f2f2;
}
.dt-table table, th,td{
	border:1px solid #d26e6e;
}

.dt-table th {
	width: 25%;
	font-family: Soeuib;
	font-size: 19px;
	padding: 5px;
}
.dt-table td {
	padding: 5px;
}

.dt-tittle2{
	margin-top:40px;
	text-align: center;
	padding: 29px 102px;
	font-size: 20px;
	text-transform: uppercase;
	font-family: Soeuib;
	color: #ff0606;
}

.tb2 th{
	width: 20%;
}

.dt-form{
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 85%;
	margin: 5px auto;
}

.dt-form input[type=text], select {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

      -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}
.dt-form textarea {
	width: 100%;
	min-height: 100px;
	padding:10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;

      -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}
.dt-form textarea:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
border: 1px solid rgba(81, 203, 238, 1);
}

.dt-form input[type=text]:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
/*  padding: 3px 0px 3px 3px;

  margin: 5px 1px 3px 0px;*/
      padding: 12px 20px;
  border: 1px solid rgba(81, 203, 238, 1);
}

input#songuoilon.songuoilon{
	width: 10%;
}
input#sotreem.sotreem{
	width: 10%;
}
input#sotrenho.sotrenho{
	width: 10%;
}
input#soembe.soembe{
	width: 10%;
}
input#tongcho.tongcho{
	width: 10%;
}


.dt-form input[type=submit] {
    width: 100%;
    background-color: #FF3E30;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
}

.dt-form input[type=submit]:hover {
    background-color: #DB2F22;
}

.dt-form label{
	font-size: 17px;
	font-family: Soeuib;
}

.chitietthanhtoan{
	
	padding: 10px;
}

.tienmat p{
	
	padding: 10px;
	color: red;
}

.chuyenkhoan h5{
	font-weight: bold;
	padding: 10px;
}
.chuyenkhoan p{
	padding:2px 10px;
}
.tienmat{
	border-radius: 5px;
	display: none;
	background-color: #C9C9C9;
}

.chuyenkhoan{
	border-radius: 5px;
	background-color: #C9C9C9;
	display: none;
}

img {
		vertical-align: middle;
	}

