.center{
	text-align: center;
}
body{
	color: #2e2e2e;
}

a {
	text-decoration: none;
}
a:focus, a:hover {
	text-decoration: none;
}

.hd-inner4 {
	    position: fixed;
	    background: rgba(0, 0, 0, 0.76);
	    color: #f1f1f1;
	    width: 100%;
	    z-index: 999;
	}
.logo-tour-ct{
		width:160px;
	}
	.logo-tour-ct img{
		width: 100%;
	}
		a#logo-tour-ct{
		display: block;
		padding: 3px 0px;
	}
	a#logo-tour-ct img{
		display: block;
	}
	ul#main-menu2 li {
		float: left;
	}
	ul#main-menu2 li a{
		font-size: 16px;
		padding: 17px 10px;
		display: block;
		color: #d0d0d0;
		word-spacing: 3px;
	}
	ul#main-menu2 li a:hover{
		color: #FFFFFF;
	}


.tour-ct-bg{
	width: 100%;
	height: 650px;
	margin: 0px auto;
	display: block;
}
/*Slide BG*/
	.mySlides {
		display: none;
	}
	.slide{
		width: 100%;
	}
	img {
		vertical-align: middle;
	}



/* Next & previous buttons */
	.prev, .next {
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  padding: 16px;
	  color: white;
	  font-weight: bold;
	  font-size: 30px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	}

/* Position the "next button" to the right */
	.next {
	  right: 0px;
	  border-radius: 3px 0 0 3px;
	}
	.prev {
	  left: 0px;
	  border-radius: 3px 0 0 3px;
	}

/* On hover, add a black background color with a little bit see-through */
	.prev:hover, .next:hover {
	  background-color: rgba(0,0,0,0.8);
	}

/* Next & previous buttons */
	.prev1, .next1 {
		display: none;
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  padding: 16px;
	  color: white;
	  font-weight: bold;
	  font-size: 30px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	}

/* Position the "next button" to the right */
	.next1 {
	  right: 0px;
	  border-radius: 3px 0 0 3px;
	}
	.prev1 {
	  left: 0px;
	  border-radius: 3px 0 0 3px;
	}

/* On hover, add a black background color with a little bit see-through */
	.prev1:hover, .next1:hover {
	  background-color: rgba(0,0,0,0.8);
	}


/* Next & previous buttons */
	


	.active, .dot:hover {
	  background-color: #717171;
	}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.tour-ct-tittle{
	font-family: Segoeuib;
	font-size: 22px;
	margin-top: -110px;
	color: #ffffff;
	position: absolute;
	background: rgba(0, 0, 0, 0.76);
    width: 100%;
    padding: 15px 56px;
    max-width: 950px;
    text-transform: uppercase;
    line-height: 33px;
    float: left;
}

.tour-ct-button{
	font-family: Segoeuib;
	font-size: 22px;
	margin-top: -110px;
	color: #ffffff;
	position: absolute;
	background: rgba(0, 0, 0, 0.76);
    width: 100%;
    padding: 10px 0px;
    max-width: 255px;
    text-transform: uppercase;
    line-height: 33px;
    float: left;
    text-align: center;
    margin-left: 990px;
}
.tour-ct-button p{
	padding: 5px;
}
a.book{
	background-color: #e63900;
	color: #ffffff;
	padding: 8px 40px;
}
a.book:hover{
	background-color: #ff0606;
}

.tour-ct-header{
	width: 100%;
	height: 59px;
}
.tour-content-1{
	width: 1206px;
	margin: 0px auto;
	/*background-color: pink;*/
	height: auto;
	/*margin-bottom: 100px;*/
}

.tour-content-1-1{
	float: left;
	width: 890px;
	min-height: 1500px;
	background-color: white;
	border-right: 0.5px solid #e0dddd;
	margin-bottom: 50px;
}

.tour-content-side-bar{
	float: left;
	width: 316px;
	/*min-height: 1000px;*/
	background-color: white;
}

.margin10px{/*
	margin: 0px 10px;*/
	padding: 0px 10px;
	background-color: white;
	min-height: 1000px;
	width: 100%;	
}

.tour-ct-tittle1 p{
	font-family: Segoeui;
	font-size: 18px;
	font-weight: bold;
	padding: 7px 10px 0px 10px;
	margin-top: 15px;
	text-transform: uppercase;
}

.tour-ct-text{
	padding: 7px 10px 0px 10px;
	text-align: justify;
}
.tour-ct-text h1{
	font-family: Segoeui;
	font-size: 17px;
	color: #ff0000;
	text-transform: uppercase;
	margin-top: 5px;
}
.tour-ct-text p{
}

.tour-ct-map{
	width: 840px;
	height: 440px;
	/*để thẻ div nằm giữa màn hình*/
	margin: 0px 14px;
}
/*TẠO MENU TAB*/
	.tab-menu-ct{
		margin-top: 10px;
		margin-left: 10px;
	}
	#tab-menu-ct li{
		float: left;
		padding: 10px;
		font-size: 18px;
		border-bottom: 1px solid red;
		font-family: Segoeui;
		cursor: pointer;
	}
	.active2 {
		color: white;
		background-color: #C50000;
		border: 1px solid #ec681a;
	}
	.tabchitiet2, .tabchitiet3{
		display: none;
	}

/*CSS Sidebar*/
	p.sidebar-header{
		font-family: Segoeui;
		font-size: 17px;
		font-weight: bold;
		padding: 15px 0px;
	}

	a.sidebar-tittle{
		font-family: Segoeui;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		color: #2e2e2e;

	}
	a.sidebar-tittle:hover{
		color: #000000;
		font-size: 14.1px;
	}
	.marginbottom10px{
		margin-bottom: 10px;
	}


/*CSS Lưu ý*/
	p.tour-note{
		font-weight: bold;
		margin-top: 15px;
	}

	.note-text{
		padding: 10px;
	}

	.note-text p{
		text-align: justify;
	}


.tour-ct-info{
	margin: 15px 0px;
}
.tour-ct-info img{
	float: left;
	margin-right: 15px;
}
.col-1 ,.col-2{
	float: left;
	width: 50%;	
}
.col-1 img,.col-2 img {
	padding: 10px 0px;
}

.col-1 p,.col-2 p {
	padding: 10px 0px;
	font-weight: bold;
	font-size: 16px;
	color: red;
}


/*CHI TIẾT TOUR*/
	.chitiet{
		width: 70%;
		height: 100%;
		margin:3px auto;
		border-bottom: 1px solid red;
	}
	.chitiet a{
		color: red;
	}
	.chitiet-header{
		margin-top: 20px;
		text-align: center;
		color: red;
	}
	.chitiet1{
		margin-bottom: 1px;
		width: 100%;
		height: 100%;
	}
	.chitiettrai{
		width: 50%;
		/*height: 50px;*/
		background-color: #E9EBEE;
		float: left;
		padding: 8px 30px;
		text-align: right;
		font-size: 16px;
		border-right: 1px solid white;
	}
	.chitietphai{
		width: 50%;
		/*height: 50px;*/
		background-color: #E9EBEE;
		float: left;
		padding: 8px 30px;
		text-align: left;
		font-size: 16px;
	}
	.lienhe{
		margin-top: 10px;
	}
	.lienhe1{
		/*background-color: #E9EBEE;*/
		padding: 8px 30px;
		text-align: left;
		font-size: 16px;
		text-align: center;
	}

/*Ads*/
	.Ads{
		width: 80%;
		/*1092.8*/
		height: 200px;
		margin: 0px auto;
		background-color: pink;
		margin-bottom: 50px;
	}
	#Ads img{
		width: 100%;
		height: 100%;
		cursor: pointer;
	}


	img.thumn2{
		width: 270px;
		height: auto;
	} 